:80 {   #首行都是以你配置的监听域名和端口开始，类似于Nginx的Server
    gzip   #开启gzip压缩
    log ./log/access/access.log   #访问日志的配置
    errors ./log/errors/error.log {
        rotate_size 50   #50M以后，自动分割
        rotate_age  30   #分割文件最多保留30天
        rotate_keep 5    #最多保留5个分割文件
    }
    root ./html            #静态资源的路径
	upload /file/upload {  #图片上传路径
		yes_without_tls
		to "./html/static/img"
	}
    proxy /api/ 127.0.0.1:3000 {
        policy round_robin
    }
}