
@font-face{
  font-family: myFirstFont;
  src: url('/static/fonts/one.ttf'),url('/static/fonts/TRENDS.woff') format('woff');
}


@media screen and (max-width:1900px) {
  body {
    .container {
      .content {
        .a-b{
          .hide{display: none;}
        }
      }
    }
  }
}


.container {
  .content {width:calc(100vw - 210px - (100vw - 100%)); height: auto; min-width: 1156px; overflow-x: auto;
     background-color: transparent;
    .a-h{width:100%; height:70px; box-shadow:0 2px 2px #999; background-color:#eff2f8; padding-left:39px;
      box-sizing: border-box;
      .h-b{width:100px; height:50px; margin:10px; text-align:center; box-sizing:border-box; float:left; cursor: pointer;
        span{ height: 25px; width: 100%; display: block; line-height: 25px;}
        .span1{color: #333;}
        .span2{color: #dc2828;}
      }
      .bl{@extend .h-b; background-color: #5ab1ef; margin: 10px 20px; width: 140px;
        .span1{color: #fff;}
        .span2{color: #ecfd59;}
      }
      .h-r{float: right; width: 720px; height: 50px; margin-top: 20px;padding: 4px 15px; box-sizing: border-box;
        span{width: 140px; height: 26px; line-height: 26px; background-color: #5ab1ef; text-align: left; color: #fff;
          cursor: pointer; margin: 8px 5px; border-radius: 4px;
          .btn-i{background: url("/static/img/icon.png") -189px 3px; width: 24px; height: 24px; margin:1px 6px;
            float: left;}
          .btn-i1{background: url("/static/img/icon.png") -213px 3px; width: 24px; height: 24px; margin:1px 6px;
            float: left;}
          .btn-i2{background: url("/static/img/icon.png") -236px 5px; width: 24px; height: 24px; margin:1px 6px;
            float: left;}
        }
        .search{border:1px solid #d4e4f1; width:190px; height:22px; box-sizing:border-box; float:left;
          background-color:#fff; margin: 10px 0 10px 20px;
          input{border: none; width: 170px; height: 20px; float: left; outline: none; padding: 0;}
          i{width: 14px; height: 14px; float: left; margin: 3px 0;}
        }
      }
    }
    .a-b1{width:99%; margin:0.5%; background-color:#f2eff8; box-shadow:0 2px 2px #999; display:flex; border-radius:2px;
      height: 70px;
      .b-icon{background:url("/static/img/icon.png") no-repeat 9px -115px; width:40px; height:40px;
        margin:15px 40px;}
      .b-icon1{@extend .b-icon; background:url("/static/img/icon.png") no-repeat -36px -115px;}
      .b-icon2{@extend .b-icon; background:url("/static/img/icon.png") no-repeat -76px -115px;}
      .b-icon3{@extend .b-icon; background:url("/static/img/icon.png") no-repeat -116px -115px;}
      .b-b{flex:2; height: 60px; margin: 5px; max-width: 11%;
        .b-t{ height: 30px; line-height: 30px; width: 100%; font-size: 12px; color: #8b909f; text-overflow: ellipsis;
          white-space:nowrap; overflow: hidden;
          span{display: block; float: left;}
          .yes{display: block; width: 30px; height: 16px; border-radius: 8px; line-height: 16px; padding: 0 5px;
            margin: 7px 10px; text-align: center; background-color: #78c16c; color: #fff; float: left;
          }
          .no{@extend .yes; background-color: #869b80;}
        }
      }
      .b-bt{flex:2; height: 60px; margin: 5px; border-left: 1px solid #cdcbd3; padding-left: 20px; max-width: 11%;
        .b-t{ height: 30px; line-height: 30px; width: 100%; color: #000; font-weight: bold; text-overflow: ellipsis;
          white-space:nowrap; overflow: hidden;}
        .b-tt{@extend .b-t; color: #7a859f;}
      }
      .b-r{width:100px; height: 60px; margin:5px 10px; padding:18px 38px; box-sizing:border-box;position: absolute;
        border-left: 1px solid #cdcbd3; right: 50px;
        .r-icon{background:url("/static/img/icon.png") no-repeat -166px 2px; width: 24px; height: 24px;
          cursor: pointer;}
        .n-btn{background-color: #f42a3d; height: 24px; width: 90px; line-height: 24px; border-radius: 3px;
        text-align: center; color: #fff; cursor: pointer;}
      }
    }
  }
}

.form{
  .fh{width: 100%; height: 30px; line-height: 30px; margin: 10px 0; box-sizing: border-box;
    span{height: 30px; line-height: 30px; font-size: 22px; font-weight: bold;}
    i{height: 30px; line-height: 30px; width: 30px; cursor: pointer;}
  }
  .l,.r{width: 50%; height: 300px; float: left; background-color: transparent;
    .k{width: 100%; height:285px; margin-top: 15px; border:1px solid #d4e4f1;
      .k-h{width: 96%; padding: 0 2%; height: 30px; border-bottom:1px solid #d4e4f1; }
      .k-b{width: 96%; margin: 0 2%; height: 30px; border-bottom:1px solid #d4e4f1; }
      .kdiv{height: 30px; line-height: 30px; float: left; color: #0a0a0a;}
      .k-w{width: 5%; height: 28px; margin: 1px 0;}
      .k-w1{width: 55%;}
      .k-w2{width: 25%;}
      .k-w3{width: 15%;}
      .kb{font-weight: bold;}
      .kred{
        div{color: red;}
      }
      .kgray{
        div{color: #999;}
      }
    }
  }
  .f-c{width:100%; border: 1px solid #ccc; padding: 20px; box-sizing: border-box;
    .bt-rr{ float: left; height: 26px; line-height: 26px; width: 100%; margin-top: 10px; text-align: right;
      input{width: 60%; height: 26px; line-height:26px; padding: 5px 10px; box-sizing: border-box; float: left;
        color: #333;
      }
      span{margin-left: 20px; display: block; float: left; height: 26px; line-height: 26px; color: #979191;
        font-style:italic;
      }
      button{padding: 2px 10px; background-color: #908c8c; margin: 0 10px; color: #fff; }
      select{@extend input;}
    }
    .c-b{width: 100%; float: left; height:auto; padding:10px; box-sizing: border-box;
      .b-left{width: 80px; float: left; height: 26px; line-height: 26px; margin: 5px 0; text-align: right;}
      .b-right{@extend .b-left; width: 1099px;
        input:checked .b-table{width: 300px;}
      }
      .b-table{width: 100%; float: left;
        .b-table1{display: block; width: 100%; float: left; position: relative;
          .bt-l{@extend .b-left;}
          .bt-r{@extend .b-left; width: 87%; position: relative;
            input{width: 55%; height: 26px; line-height:26px; padding: 5px 10px; box-sizing: border-box; float: left;
              color: #333;
            }
            label{position: absolute; right: 300px;}
            span{margin-left: 20px; display: block; float: left; height: 26px; line-height: 26px; color: #979191;
              font-style:italic;
            }
            button{padding: 2px 10px; background-color: #908c8c; margin: 0 10px; color: #fff; }
            select{@extend input;}
          }
          .rt-d{width: 380px; height: 275px; position: absolute; right: -20px; top:-30px; background-color: #f4f9fd;
            .rd-h{width:360px; height:30px; line-height:30px; font-size:16px; color:#4d99f7; padding:0 10px 20px 10px;}
            .rd-d{width: 320px; padding: 0 30px; margin: 5px 0; float: left;
              button{width: 100%; height: 30px; line-height: 30px; background-color: #4d99f7; color: #fff;}
              span{width: 55px; height: 30px; line-height: 30px; display: block; float: left;}
              select{@extend span; width: 265px;}
            }
          }
          .h{height: 180px;
            .txta{width: 55%; height: 180px; line-height:30px; padding: 5px 10px; box-sizing: border-box; float: left;
              color: #333; resize: none; }
            span{margin-left: 20px; display: block; float: left; height: 180px; line-height: 26px; color: #979191;
              font-style:italic; width: 35%; text-align: left;
            }
          }
          .btr-r{width: 85%}
        }
        .b-table2{@extend .b-table1; display: none}
        .b-table3{@extend .b-table1; display: none}
        .b-table4{@extend .b-table1; display: none}
        .b-table5{@extend .b-table1; display: none}
      }
    }
  }
}


